<form
  class="space-y-6"
  [formGroup]="form"
  #formControl="ngForm"
  (ngSubmit)="submit()"
>
  <div>
    <label for="title" class="block text-sm font-medium leading-6 text-gray-900"
      >Title</label
    >
    <div class="mt-2">
      <input
        id="title"
        name="title"
        type="text"
        required
        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-yellow-500 sm:text-sm sm:leading-6"
        placeholder="Title"
        formControlName="title"
      />
      <div
        *ngIf="title?.invalid && formControl.submitted"
        class="mt-2 font-medium"
      >
        <p *ngIf="title?.errors?.['required']" class="text-red-800">
          The title is required
        </p>
      </div>
    </div>
  </div>

  <div>
    <label
      for="description"
      class="block text-sm font-medium leading-6 text-gray-900"
      >Description</label
    >
    <div class="mt-2">
      <textarea
        id="description"
        name="description"
        type="text"
        required
        rows="5"
        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-yellow-500 sm:text-sm sm:leading-6"
        placeholder="What has happened there?"
        formControlName="description"
      ></textarea>
      <div
        *ngIf="description?.invalid && formControl.submitted"
        class="mt-2 font-medium"
      >
        <p *ngIf="description?.errors?.['required']" class="text-red-800">
          The description is required
        </p>
      </div>
    </div>
  </div>

  <div>
    <label
      for="cover-photo"
      class="block text-sm font-medium leading-6 text-gray-900"
      >Upload the best moment's photo</label
    >
    <div
      class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10"
    >
      <div class="text-center">
        <svg
          class="mx-auto h-12 w-12 text-gray-300"
          viewBox="0 0 24 24"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z"
            clip-rule="evenodd"
          />
        </svg>
        <div class="mt-4 flex text-sm leading-6 text-gray-600">
          <label
            for="image"
            class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-yellow-500 focus-within:ring-offset-2 hover:text-indigo-500"
          >
            <span>Upload a file</span>
            <input
              id="image"
              name="image"
              type="file"
              accept="image/png,image/jpeg,image/jpg"
              class="sr-only"
              (change)="onChangeFile($event)"
            />
            <input type="text" hidden formControlName="fileName" />
          </label>
          <p class="pl-1">or drag and drop</p>
        </div>
        <p class="text-xs leading-5 text-gray-600">PNG or JPG up to 10MB</p>
      </div>
    </div>
    <div
      *ngIf="fileName?.invalid && formControl.submitted"
      class="mt-2 font-medium"
    >
      <p *ngIf="fileName?.errors?.['required']" class="text-red-800">
        The image is required
      </p>
    </div>
  </div>

  <div>
    <button
      type="submit"
      class="flex w-full justify-center rounded-md bg-yellow-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm transition-all duration-300 hover:translate-x-0.5 hover:-translate-y-0.5 hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-500"
    >
      Share or Update
    </button>
  </div>
</form>
